* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}
a {
    text-decoration: none;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}
/* header */
.header {
    background-color: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    position: relative;
    padding: 8px 12px;
    color: #5f5b53;
    font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 13px;
    bottom: 6px;
    content: " ";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .sign-up-btn {
    min-width: 144px;
}
.header .action {
    margin-left: 49px;
}

/* Hero hero-left*/
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.hero-sumary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-sumary .item {
    display: flex;
    align-items: center;
}
.hero-sumary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}
.hero-sumary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}
.hero-sumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-sumary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
}
.hero-sumary .item + .item {
    margin-top: 22px;
}

/* hero-right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    margin: 38px 0 48px;
}
.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    margin-right: 28px;
}
.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
}
.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.hero .stats strong:first-child {
    margin-left: -28px;
}
.hero .stats {
    margin-top: 8px;
}
.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}
.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

/* courses-list */
.popular .courses-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular .courses-item {
    width: calc(100% / 3);
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    padding-bottom: 22px;
}
.popular .courses-item:hover {
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.2);
}
.courses-item .thumd {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-item .info {
    margin-top: 16px;
    padding: 0 22px;
}
.courses-item .rating,
.courses-item .foot,
.courses-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
}
.courses-item .head .value {
    margin-left: 6px;
    width: 24px;
    height: 28px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.courses-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.courses-item .foot {
    margin-top: 12px;
}
.courses-item .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.courses-item .foot .btn-price {
    margin-top: 6px;
    min-width: 118px;
    height: 50px;
    cursor: pointer;
}
.courses-item .foot .btn-price:hover {
    color: #fff;
    background: var(--primary-color);
}

/* Feedback */
.feedback {
    margin-top: 135px;
    background: #2e2100;
    padding: 96px 0;
}
.feedback-list {
    display: flex;
    overflow: hidden;
}
.feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}
.feedback-item .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.feedback-item .dot.active {
    background-color: var(--primary-color);
}
.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}
.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.5;
}

/* Featured */
.features {
    margin-top: 135px;
    padding: 65px 0;
}
.features .body {
    display: flex;
    justify-content: space-between;
}
.features .image {
    margin-right: 130px;
    display: flex;
    gap: 30px;
}
.features .image img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .image img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .content .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .content .btn {
    min-width: 137px;
    margin-top: 32px;
    border-radius: 26px;
    background: #ffb900;
    color: #fff;
}
/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #fffcf4;
}
.blog-top {
    text-align: center;
}
.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto 0;
    color: #696262;
    font-size: 16px;
    line-height: 1.75;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog .blog-item {
    flex-shrink: 0;
    width: calc(33.333% - 20px);
    border-radius: 16px;
    background: #fff;
}
.blog .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .blog-item .info {
    padding: 20px 20px 28px;
}
.blog-list .thumd {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}
.blog-item .date::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.blog-item .date::after {
    position: absolute;
    left: 0;
    bottom: -7px;
    right: -27px;
    display: inline-block;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}
.blog-item .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.blog-item .btn {
    font-size: 1.4rem;
}
.blog-item .btn:hover {
    background: #ffb900;
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}
.blog .dots .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
}
.blog .dot.active {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Footer */
.footer {
    padding: 96px 135px 0;
    background-color: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .colum:first-child {
    width: 35%;
}
.footer .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}
.footer .social {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}
.footer .row .colum {
    width: 21.6%;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.copyright p {
    padding: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.85;
}
